<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>
  </title>
  <link rel="stylesheet" href="./styles.scss">
</head>

<body>
  {{> pv-m-header/pv-m-header }}
  {{> pv-m-main-navigation/pv-m-main-navigation }}
  {{{body}}}
  {{> pv-m-footer/pv-m-footer }}
  <script src="../main.ts"></script>
</body>

</html>